@charset "utf-8";
/* CSS Document */
<style>
body
{
	background:none;
}
#wrapper
{
width:73%;
margin-left:auto;
margin-right:auto;
border-style:solid;
padding:10px;
background-color:#FFC;
}
#header
{
	background-color: #004A00;
	color: red;
	text-align: center;
	font-family: Elephant;
	font-size: 300%;
}
h3
{
	text-decoration:blink;
}
ul
{
	list-style-type:none;
}
li
{
	display:inline;
	margin-right:25px;
}
.picture
{
	box-shadow: 20px 20px 10px #C90;
}
#nav
{
text-align:center;
border-width:5px;
}
#content
{
	color:#063;
	font-family:"Comic Sans MS", cursive;
	font-size:15px;
}
h3
{
color:red;
}
.sign
{
	float:left;
	color:red;
	font-size:20px;
}
#footer
{
text-align:center;
font-size:100%;
background-color:#004A00;
color:#FFF;
}
.icon
{
	float:right;
}
#footer a
{
	color:#FFF;
}
a {
	font-family: "Comic Sans MS", cursive;
	color: #030;
}
a:visited {
	color: #F00;
}
a:hover {
	color: #030;
}
a:active {
	color: #660;
}



#wrapper #content center img {
	color: #FFF;
}
